.gallery-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10vmin;
    overflow: hidden;
    transform: skew(5deg);
}
.gallery-container .gallery-card {
    flex: 1;
    transition: all 1s ease-in-out;
    height: 75vmin;
    position: relative;
    border: 2px solid #66f3e0;
    text-shadow: 1px 1px 2px #66f3e0;
    border-radius: 5px;
}
.gallery-container .gallery-card .gallery-card__head {
    color: white;
    background: #8c69c1;
    padding: 0.5em;
    transform: rotate(-90deg);
    transform-origin: 0% 0%;
    transition: all 0.5s ease-in-out;
    min-width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 1em;
    white-space: nowrap;
}
.gallery-container .gallery-card:hover {
    flex-grow: 20;
}
.gallery-container .gallery-card:hover img {
    filter: grayscale(0);
}
.gallery-container .gallery-card:hover .gallery-card__head {
    margin-top: -1.5%;
    text-align: center;
    top: calc(90% - 2em);
    color: white;
    background: #8c69c1;
    font-size: 9em;
    transform: rotate(0deg) skew(-5deg);
}
.gallery-container .gallery-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 1s ease-in-out;
    filter: grayscale(100%);
}
.gallery-container .gallery-card:not(:nth-child(5)) {
    margin-right: 1em;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 10vmin;
    overflow: hidden;
    -webkit-transform: skew(5deg);
    transform: skew(5deg);
}

.gallery-container .gallery-card {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    height: 75vmin;
    position: relative;
}

.gallery-container .gallery-card .gallery-card__head {
    color: white;
    background: #8c69c1;
    padding: 0.5em;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    min-width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 1em;
    white-space: nowrap;
}

.gallery-container .gallery-card:hover {
    -webkit-box-flex: 10;
    -ms-flex-positive: 10;
    flex-grow: 10;
}

.gallery-container .gallery-card:hover img {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
}

.gallery-container .gallery-card:hover .gallery-card__head {
    text-align: center;
    top: calc(100% - 2em);
    color: white;
    background: rgba(0, 0, 0, 0.5);
    font-size: 2em;
    -webkit-transform: rotate(0deg) skew(-5deg);
    transform: rotate(0deg) skew(-5deg);
}

.gallery-container .gallery-card img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -webkit-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.gallery-container .gallery-card:not(:nth-child(5)) {
    margin-right: 1em;
}

.fix-margin {
    margin-top: -2%;
}

.select-button {
    color: purple;
    border-radius: 8px;
    background-color: #67f3e0;

    border: 2px solid #66f3e0;
    text-shadow: 1px 1px 2px #66f3e0;
}

.select-button:hover {
    background-color: #ff99cc;
}
