@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap");
.navbar {
  background-color: #212226;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 64px;
  margin: 0;
  padding: 0;
  font-family: "Source Code Pro", monospace;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.navbar__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.5rem 0;
  margin: 0 4rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.navbar__logo {
  height: 100%;
}

.navbar__logo__link {
  height: 100%;
}

.navbar__hamburger-icon {
  color: white;
}

.navbar__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #212226;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 100%;
  padding-top: 2rem;
  display: none;
}

.navbar__nav__item {
  width: 100%;
  list-style: none;
}

.navbar__nav__link {
  color: #7fffdd;
  padding: 1rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none !important;
  font-size: 1.5rem;
  width: 100%;
}

.navbar__nav__link:hover {
  -webkit-transition: background-color 0.3s ease, color 0.3s ease;
  transition: background-color 0.3s ease, color 0.3s ease;
  background-color: #353535;
  color: white;
}

.navbar__nav__btn {
  margin-bottom: 1rem;
}

.navbar__button {
  font-family: "Source Code Pro", monospace;
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  background-color: #8c69c1;
  border: none;
  border-radius: 3px;
  color: white;
  white-space: nowrap;
}

.navbar__button:hover {
  -webkit-transition: background-color 0.2s ease;
  transition: background-color 0.2s ease;
  background-color: #73569e;
}

.navbar .open-toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (min-width: 1000px) {
  .navbar__hamburger-icon {
    display: none;
  }
  .navbar__top {
    width: auto;
  }
  .navbar__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: auto;
    padding: 0;
    margin: 0;
    margin-right: 4rem;
  }
  .navbar__nav__btn {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
    margin-bottom: 0;
  }
  .navbar__nav__item {
    line-height: 1;
  }
  .navbar__nav__link {
    font-size: 1rem;
    padding: 1rem 1rem;
  }
  .navbar__button {
    font-size: 1rem;
    margin-left: 1rem;
  }
}
/*# sourceMappingURL=header.css.map */